.gridContainer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  height: 600px;
  border: 1px solid black;
}

.childOne {
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 4;
}

.childTwo {
  border: 1px solid black;
}

.childThree {
  border: 1px solid black;
}

.childFour {
  border: 1px solid black;
}
